{% extends 'layouts/base.html' %}

{% block content %}
<h1>Edit Book</h1>
<form action="{{ url_for('books.book_edit', id=book.id) }}" method="POST" enctype="multipart/form-data">

    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" name='name' class="form-control" value="{{ book.name }}">
    </div>
    <div class="mb-3">
        <label class="form-label">Image</label>
        <input type="file" name='image' class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="number" name='price' class="form-control" value="{{ book.price }}" min="0.01" step="0.01">
    </div>
    <div class="mb-3">
        <label class="form-label">Number of Pages</label>
        <input type="number" name='num_pages' class="form-control" value="{{ book.num_pages }}" min="1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
